body {
  /* generic monospace font */
  font-family: "Roboto", "Noto", sans-serif;
  /* font-family: "Google Sans", "Roboto", "Noto", sans-serif; */
  margin: 0;
  color: black;
  overflow-y: hidden;
  /* min-height: 100vh; */
}

a {
  color: black;
  text-decoration: none;
}

.active {
  color: #af00db;
}

h1 {
  font-size: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #212121;
}

ul {
  margin: 0;
}

li {
  margin: 0.2rem 0;
}

.code-number {
  color: #098156;
}

.code-line-number {
  color: #757575;
  padding-right: 0.3rem;
}

.code-keyword {
  color: #af00db;
}

.code-keyword2 {
  color: #0000ff;
}

.code-keyword3 {
  color: #795e26;
}

.code-keyword4 {
  color: #a31515;
}

.link {
  color: #af00db;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: #925f9f;
}

/* ====== HOME PAGE ====== */

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/** Header */
.header-container {
  padding: 0.5rem 0.5rem;
  border: 1px solid rgb(218, 218, 218);
  border-top: 0px;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.animal-mode {
  background-image: 
  /* url("https://i.pinimg.com/originals/1e/58/80/1e58803f6515649ef5e8210a82acaff3.gif"), */
    url("../../assets/gif/panda.gif"), url("../../assets/gif/bear.gif"),
    /* url("../assets/gif/oreo.gif"), */
      /* url("https://i.pinimg.com/originals/0e/9b/db/0e9bdb22a1a622fd8fb98e4d80419af2.gif"), */
      /* url("https://cdn.dribbble.com/users/940782/screenshots/2715943/pandadribbble.gif"), */
      url("https://cdna.artstation.com/p/assets/images/images/025/958/956/original/lenneke-van-doorn-runanimation-1.gif?1587462989"),
    /* url("../assets/gif/chocolatechip.gif") */
      url("https://i.pinimg.com/originals/1e/58/80/1e58803f6515649ef5e8210a82acaff3.gif");
  background-repeat: no-repeat;
  background-size: contain;
  animation: move-animal 80s linear infinite;
}

/* do not animate animals on mobile */
@media (max-width: 600px) {
  .animal-mode {
    background-image: none;
  }
}

/* Animation for animals to walk across the screen */
@keyframes move-animal {
  0% {
    background-position: 120%, -20%, -20%, 120%;
  }
  25% {
    background-position: -20%, -20%, -20%, 120%;
  }
  30% {
    background-position: -20%, -20%, -20%, 120%;
  }
  55% {
    background-position: -20%, 120%, -20%, 120%;
  }
  65% {
    background-position: -20%, 120%, -20%, 120%;
  }
  95% {
    background-position: -20%, 120%, 120%, -20%;
  }
  100% {
    background-position: -20%, 120%, 120%, -20%;
  }
}

.left-header {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logo {
  height: 3rem;
}

.center-header {
  height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  font-size: 18px;
  font-weight: 500;
  overflow: auto;
}

.navlinks {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  cursor: pointer;
}

.right-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  font-size: 13px;
}

.viewing-container {
  color: #212121;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: default;
}

@media screen and (max-width: 780px) {
  .viewing-container {
    display: none;
  }
  .user-icon {
    display: none;
  }
}

/* add a box shadow transition effect to the viewing container */
.viewing-container:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.eye-icon {
  height: 2rem;
  cursor: default;
  /* make the image darker */
  filter: brightness(0.5);
}

.user-icon {
  height: 2rem;
}

.save-changes {
  cursor: default;
  color: #757575;
  text-decoration: underline;
}

/* NOTEBOOK CONTAINER */
.main-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
}

.left-container {
  border: 1px solid rgb(218, 218, 218);
  padding: 1.5rem 0.2rem;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 1.5rem;
  filter: grayscale(1);
}

.right-container {
  /* max-height: 89vh; */
  /* height: 500px; */
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid rgb(218, 218, 218);
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.2rem;
}

@media screen and (min-height: 768px) {
  /* .right-container {
    height: 86vh;
  } */
}

@media screen and (min-height: 1028px) {
  /* .right-container {
    height: 2vh;
  } */
}

.section-container {
  width: auto;
  margin: 0.5rem 2rem 0;
  padding: 1rem;
  text-align: left;
  /* box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 40%); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.section-container:hover {
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 40%);
}

.p-collapsed {
  display: none;
}

.ul-collapsed {
  display: none;
}

.code-cell-container {
  margin: 0.5rem 1rem 0;
  padding: 1rem;
  text-align: left;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.code-container {
  background-color: #f7f7f7;
  /* margin: 1.5rem 2rem 0; */
  padding: 1rem;
  text-align: left;
  /* width: 95%; */
  /* box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 40%); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.code-cell {
  background-color: #f7f7f7;
  /* padding: 1rem; */
}

#last-section {
  margin-bottom: 1.5rem;
}

#first-section {
  margin-top: 1.5rem;
}

.section-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow {
  position: absolute;
  left: -45px;
  height: 0.8rem;
}

.arrow-collapsed {
  transform: rotate(-90deg);
}

/* CALENDAR */
.calendar-container {
  margin: 1.5rem 2rem 0;
}

@media screen and (max-width: 900px) {
  .calendar {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .calendar {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .calendar {
    width: 250px;
  }
}

@media screen and (max-width: 350px) {
  .calendar {
    width: 220px;
  }
}

/* STAFF PAGE */

.staff-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.staff-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.staff-image {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .staff-image {
    height: 6rem;
    width: 6rem;
  }

  .staff-card {
    font-size: 12px;
  }
}

/* FOOTER */
.footer {
  /* height: 2rem; */
  border: 1px solid rgb(218, 218, 218);
  border-bottom: none;
  text-align: center;
  color: white;
  text-align: center;
}

.footer-text {
  color: #757575;
  font-size: 13px;
}

@media screen and (max-width: 480px) {
  .footer-text {
    font-size: 10px;
  }
}

@media screen and (max-width: 374px) {
  .footer-text {
    font-size: 8px;
  }
}
