body {
  /* generic monospace font */
  font-family: "Roboto", "Noto", sans-serif;
  /* font-family: "Google Sans", "Roboto", "Noto", sans-serif; */
  margin: 0;
  color: black;
  overflow-y: hidden;
}

a {
  color: black;
  text-decoration: none;
}

.active {
  color: #af00db;
}

h1 {
  font-size: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #212121;
}

ul {
  margin: 0;
}

li {
  margin: 0.2rem 0;
}

.code-number {
  color: #098156;
}

.code-line-number {
  color: #757575;
  padding-right: 0.3rem;
}

.code-keyword {
  color: #af00db;
}

.code-keyword2 {
  color: #0000ff;
}

.code-keyword3 {
  color: #795e26;
}

.code-keyword4 {
  color: #a31515;
}

#link {
  color: #af00db;
  text-decoration: underline;
  cursor: pointer;
}

#link:hover {
  color: #925f9f;
}

/* ====== HOME PAGE ====== */

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/** Header */
.header-container {
  padding: 0.5rem 0.5rem;
  border: 1px solid rgb(218, 218, 218);
  border-top: 0px;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.corgi-mode {
  background-image: url(https://ssl.gstatic.com/colaboratory-static/common/8719e62647a4f644db80a7fdd823f21b/v2/common/img/chocolatechip.gif),
    url(https://ssl.gstatic.com/colaboratory-static/common/de56aa663d279b80074b6c21f69dc872/v2/common/img/oreo.gif),
    url(https://i.pinimg.com/originals/ec/0d/5f/ec0d5f135cd6ce5a9bfc1d0e756e1339.gif);
  /* url(../../v2/common/img/oreo.gif), url(../../v2/common/img/redvelvet.gif); */
  /* background-image: url(https://ssl.gstatic.com/colaboratory-static/common/8719e62647a4f644db80a7fdd823f21b/v2/common/img/chocolatechip.gif); */
  /* background-image: url(https://media3.giphy.com/media/fUSQGDRvuBlQXcX0TA/200w.gif?cid=6c09b952km2v5b0jckfnray0cr8s009ywto21eiyjaa453su&rid=200w.gif&ct=g); */
  /* background-image: url(https://i.pinimg.com/originals/ec/0d/5f/ec0d5f135cd6ce5a9bfc1d0e756e1339.gif); */
  background-repeat: no-repeat;
  background-size: contain;
  animation: corgis 80s linear infinite;
}

/* Animation for animals to walk across the screen */
@keyframes corgis {
  0% {
    background-position: 120%, -20%, -20%, 120%;
  }
  25% {
    background-position: -20%, -20%, -20%, 120%;
  }
  30% {
    background-position: -20%, -20%, -20%, 120%;
  }
  55% {
    background-position: -20%, 120%, -20%, 120%;
  }
  65% {
    background-position: -20%, 120%, -20%, 120%;
  }
  95% {
    background-position: -20%, 120%, 120%, -20%;
  }
  100% {
    background-position: -20%, 120%, 120%, -20%;
  }
}

.left-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  min-width: 10rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.logo {
  height: 3rem;
}

.center-header {
  line-height: 0.5;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 18px;
  font-weight: 500;
}

.navlinks {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  cursor: pointer;
}

.right-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 13px;
}

.user-icon {
  height: 2rem;
}

.save-changes {
  cursor: default;
  color: #757575;
  text-decoration: underline;
}

/* NOTEBOOK CONTAINER */
.main-container {
  display: flex;
  flex-direction: row;
}

.left-container {
  border: 1px solid rgb(218, 218, 218);
  padding: 1.5rem 0.2rem;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 1.5rem;
  filter: grayscale(1);
}

.right-container {
  height: 86vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid rgb(218, 218, 218);
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

@media screen and (min-height: 768px) {
  /* .right-container {
    height: 86vh;
  } */
}

@media screen and (min-height: 1028px) {
  /* .right-container {
    height: 2vh;
  } */
}

.section-container {
  width: auto;
  margin: 1.5rem 2rem 0;
  padding: 1rem;
  text-align: left;
  box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 40%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.code-cell-container {
  margin: 1.5rem 1rem 0;
  padding: 1rem;
  text-align: left;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.code-container {
  background-color: #f7f7f7;
  /* margin: 1.5rem 2rem 0; */
  padding: 1rem;
  text-align: left;
  /* width: 95%; */
  /* box-shadow: 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%),
    0 2px 4px -1px rgb(0 0 0 / 40%); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.code-cell {
  background-color: #f7f7f7;
  /* padding: 1rem; */
}

#last-section {
  margin-bottom: 1.5rem;
}

.section-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow {
  position: absolute;
  left: -45px;
  height: 0.8rem;
}

/* CALENDAR */
.calendar-container {
  margin: 1.5rem 2rem 0;
}

@media screen and (max-width: 900px) {
  .calendar {
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .calendar {
    width: 300px;
  }
}

/* STAFF PAGE */

.staff-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.staff-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.staff-image {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  border-radius: 50%;
}

/* FOOTER */
.footer {
  border: 1px solid rgb(218, 218, 218);
  /* // stick footer to bottom of page */
  /* position: fixed; */
  /* bottom: 0; */

  /* height: 2rem; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.2rem 0;
  /* margin: auto; */
  /* max-height: 20px; */
  /* position: relative; */
  /* bottom: 0; */
  /* padding-top: 15px; */
  /* padding-bottom: 1px; */
  /* background-color: #27282e; */
  width: 100%;
  /* font-size: 1vh; */
  color: white;
  /* font-style: italic; */
  text-align: center;
}
